x-app-nginx-attributes: &app-nginx-attributes
  image: ${IMAGES_PREFIX:-}app-nginx
  ports:
    - "8080:80"

x-app-database-attributes: &app-database-attributes
  image: postgres:${POSTGRES_VERSION:-17}-alpine
  ports:
    - "5432:5432"

services:
  app-nginx: *app-nginx-attributes
  app-database: *app-database-attributes
