parameters:
    level: 8
    paths:
        - bin/
        - config/
        - src/
        - tests/
    doctrine:
        objectManagerLoader: tests/object-manager.php

includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
